{% extends 'base.html' %}

{% load static %}

{% block body %}
<h1 class='title'>Produtos</h1>
<div class='div-produto-lista'>
    {% for produto in produtos %}
        <div class="produto-lista">
            <img src="{{ produto.imagem.url }}">
            <p class="produto-lista-nome">{{ produto.nome }}</p>
            <p class="produto-lista-preco">R${{ produto.preco }}</p>
            <a href="{% url 'editar_produto' produto.id %}">Editar</a>
        </div>
    {% endfor %}
</div>
{% endblock body %}