{% extends "base.html" %}

{% load static %}

{% block body %}
<div class="cart-products">
  <h1 class="cart-title">Carrinho</h1>

  <div>
    {% for item in itens %}
    <div class="cart-product">

      <div class="cart-product-info">
        <img src="{{item.produto.imagem.url}}">
        <p>{{ item.produto.nome }} - {{ item.quantidade }} x R$ {{ item.produto.preco }} = R$ {{ item.subtotal }}</p>
        <a href="{% url 'excluir_do_carrinho' item.produto.id %}">X</a>
      </div>

      <div class="cart-product-add-remove">
        <a href="{% url 'adicionar_ao_carrinho' item.produto.id %}">Adicionar</a>
        <a href="{% url 'remover_do_carrinho' item.produto.id %}">Remover</a>
      </div>

    </div>
  </div>
  {% endfor %}
</div>

<p class="cart-total-price">Total: R$ {{ total }}</p>

{% endblock body %}