.cart-title {
    font-size: 50px;
}

.cart-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-product {

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 400px;
}

.cart-product-info {
    position: relative;
    display: flex;
    align-content: center;
}

.cart-product-info img {
    width: 75px;
    height: 75px;
    align-content: center;
    border-radius: 5px;
}

.cart-product-info p {
    margin-left: 10px;
    align-content: center;
}

.cart-product-info a {
    position: absolute;
    right: 4px;
}

.cart-product-add-remove {
    display: flex;
    align-items: center;
    justify-content: end;    
    gap: 10px;
}

.cart-product-add-remove a{
    
}

.cart-total-price {
    margin-top: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}