{% extends "base.html" %}

{% block body %}


{% if messages %}
    {% for message in messages %}
    <div class="messages-box">
        <div>
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}
<div class="register-div">
    <form class="register-form" action="{% url 'logar' %}" method="POST"> {% csrf_token %}
        <h1 class="title-register">Logue na sua conta</h1>

        <div class="register-field">
            <p>Usuario</p>
            <input class="register-inputs" type="text" name="username">
        </div>

        <div class="register-field">
            <p>Senha</p>
            <input class="register-inputs" type="password" name="password">
        </div>

        <input type="submit" class="register-button" value="Logar">
    </form>
</div>

{% endblock body %}