{% extends "base.html" %}

{% load static %}

{% block body %}
<div class="banner">
    <div class="banner-letter">
        Melhor site de computaria do Brasil!
    </div>
    <img class="banner-img" src="{% static 'assets/testes/banner.webp' %}">
</div>

<div class="products-grid">
    {% for produto in produtos %}
        <div class="product-block">
            <img class="product-image" src="{{produto.imagem.url}}">
            <p class="product-name">{{produto.nome}}</p>
            <p class="product-price">R${{produto.preco}}</p>
            <a class="product-button" href="{% url 'product' produto.id %}">Ver Produto</a>
        </div>
    {% endfor %}
</div>
{% endblock body %}