{% extends 'base.html' %}

{% load static %}

{% block body %}
<div class="home-div">
    <div class="unimar-banner">
        <p>A melhor loja de computaria do Brasil!</p>
        <img src="{% static 'assets/unimar-banner.webp' %}">
    </div>

    <div class="products-showcase">
        <div class="product">
            <img src="{% static 'assets/testes/Camiseta_Garoto_de_Programa.jpg' %}">
            <p class="product-name">Camiseta Garoto de Programa</p>
            <p class="product-price">R$100</p>
            <a href="">Ver</a>
        </div>

        <div class="product">
            <img src="{% static 'assets/testes/Camiseta_Garoto_de_Programa.jpg' %}">
            <p class="product-name">Camiseta Garoto de Programa</p>
            <p class="product-price">R$100</p>
            <a href="">Ver</a>
        </div>

        <div class="product">
            <img src="{% static 'assets/testes/Camiseta_Garoto_de_Programa.jpg' %}">
            <p class="product-name">Camiseta Garoto de Programa</p>
            <p class="product-price">R$100</p>
            <a href="">Ver</a>
        </div>

        <div class="product">
            <img src="{% static 'assets/testes/Camiseta_Garoto_de_Programa.jpg' %}">
            <p class="product-name">Camiseta Garoto de Programa</p>
            <p class="product-price">R$100</p>
            <a href="">Ver</a>
        </div>

        <div class="product">
            <img src="{% static 'assets/testes/Camiseta_Garoto_de_Programa.jpg' %}">
            <p class="product-name">Camiseta Garoto de Programa</p>
            <p class="product-price">R$100</p>
            <a href="">Ver</a>
        </div>

        <div class="product">
            <img src="{% static 'assets/testes/Camiseta_Garoto_de_Programa.jpg' %}">
            <p class="product-name">Camiseta Garoto de Programa</p>
            <p class="product-price">R$100</p>
            <a href="">Ver</a>
        </div>
    </div>
</div>
{% endblock body %}