{% extends "base.html" %}

{% load static %}

{% block body %}
<div class="product-div-page">
    <img class="product-image-page" src="{{product.imagem.url}}">

    <div>
        <h1 class="product-title-page">{{product.nome}}</h1>

        <p class="product-saler">Vendedor: {{product.vendedor}}</p>

        <div class="product-price-page-div">
            <p class="reais">R$</p>
            <p class="product-price-page">{{product.preco}}</p>
        </div>

        <div class="product-description-page">
            {{product.descricao}}
        </div>

        <div class="product-buttons-page">
            <a class="product-add-cart-page" href="">Adicionar ao carrinho</a>
            <a class="product-buy-page" href="">Comprar agora</a>
        </div>
    </div>
</div>
{% endblock body %}